@media screen and (min-width: 600px) {
    body {
        display: flex;
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(var(--azulquasepreto), var(--azulmuitoescuro), var(--azulescuro), var(--azulmedio));
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section#img {
        width: 396.11px;
        height: 334.8px;
        border-radius: 10px 10px 0 0;
        box-shadow: 0 0 10px black;
    }

    section#dados {
        background-color: white;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 0 10px black;
    }
}

@media screen and (min-width: 900px) {
    body {
        flex-direction: row;
    }

    section#img {
        border-radius: 10px 0 0 10px;
    }

    section#dados {
        border-radius: 0 10px 10px 0;
    }
}